body {
    background: #f25d5f;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}
h1 {
  color: #2f2f30;
  padding-left: 60px;
  padding-bottom: 0px;
  float: left;

}
/* keep this a {
  padding-left: 60px;
  float: left;
  padding-bottom: 10px;
  */

/*
.flower
{
  display: none;

}
  */

p {
  color: #2f2f30;
  padding-left: 60px;

  padding-bottom: 20px;
  font-size: 100%;
  clear: both;
  padding-right: 40px;

}

img {
  max-width: 640px;
  max-height: 446px;
    width: 100%;
    height: auto;
    margin-left: 60px;
    padding-right: 60px;
}
#container {
  width: 90%;
  padding: 20px;

}
#container5 {
  width: 90%;
  padding: 20px;
}
/* --- links and nav --- */


@media (max-width: 425px) {
  body {background: #fff;}
    #container {margin: 20px;}
    body {width: 80%;}
    h1 {font-size: 120%;}
    p {font-size: 80%;}
    p {padding-right: 20px;}
    /* a {font-size: 70%;} */


}
